## Final Project DS 2002
#### Tuan-Minh Tran

Data being used from sakila database

### 1.0. Import Required Libraries

In [ ]:
import os
import json
import pymongo
import pyspark.pandas as pd  # This uses Koalas that is included in PySpark version 3.2 or newer.
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BinaryType
from pyspark.sql.types import ByteType, ShortType, IntegerType, LongType, FloatType, DecimalType

### Instantiate Global Variables

In [ ]:
# Azure MySQL Server Connection Information ###################
jdbc_hostname = "bat3pf.mysql.database.azure.com"
jdbc_port = 3306
src_database = "sakila" ## i used the sakila database

connection_properties = {
  "user" : "bat3pf",
  "password" : "Okmijn1u!321",
  "driver" : "org.mariadb.jdbc.Driver"
}

# MongoDB Atlas Connection Information ########################
atlas_cluster_name = "cluster0.qazws"
atlas_database_name = "sakila"
atlas_user_name = "bat3pf"
atlas_password = "Okmijn1u!321"

# Data Files (JSON) Information ###############################
dst_database = "sakila_dlh"

base_dir = "dbfs:/FileStore/lab_data"
database_dir = f"{base_dir}/{dst_database}"

data_dir = f"{base_dir}/final_data"
batch_dir = f"{data_dir}/batch"
stream_dir = f"{data_dir}/stream"

rentals_stream_dir = f"{stream_dir}/rentals"

rentals_output_bronze = f"{database_dir}/fact_rentals/bronze"
rentals_output_silver = f"{database_dir}/fact_rentals/silver"
rentals_output_gold   = f"{database_dir}/fact_rentals/gold"

#dbutils.fs.rm(f"{database_dir}/fact_rentals", True)
#dbutils.fs.rm(database_dir, True)

In [ ]:
# ######################################################################################################################
# Use this Function to Fetch a DataFrame from the MongoDB Atlas database server Using PyMongo.
# ######################################################################################################################
def get_mongo_dataframe(user_id, pwd, cluster_name, db_name, collection, conditions, projection, sort):
    '''Create a client connection to MongoDB'''
    mongo_uri = f"mongodb+srv://{user_id}:{pwd}@{cluster_name}.mongodb.net/{db_name}"

    client = pymongo.MongoClient(mongo_uri)

    '''Query MongoDB, and fill a python list with documents to create a DataFrame'''
    db = client[db_name]
    if conditions and projection and sort:
        dframe = pd.DataFrame(list(db[collection].find(conditions, projection).sort(sort)))
    elif conditions and projection and not sort:
        dframe = pd.DataFrame(list(db[collection].find(conditions, projection)))
    else:
        dframe = pd.DataFrame(list(db[collection].find()))

    client.close()

    return dframe

# ######################################################################################################################
# Use this Function to Create New Collections by Uploading JSON file(s) to the MongoDB Atlas server.
# ######################################################################################################################
def set_mongo_collection(user_id, pwd, cluster_name, db_name, src_file_path, json_files):
    '''Create a client connection to MongoDB'''
    mongo_uri = f"mongodb+srv://{user_id}:{pwd}@{cluster_name}.mongodb.net/{db_name}"
    client = pymongo.MongoClient(mongo_uri)
    db = client[db_name]

    '''Read in a JSON file, and Use It to Create a New Collection'''
    for file in json_files:
        db.drop_collection(file)
        json_file = os.path.join(src_file_path, json_files[file])
        with open(json_file, 'r') as openfile:
            json_object = json.load(openfile)
            file = db[file]
            result = file.insert_many(json_object)

    client.close()

    return result

### Populate Dimensions by Ingesting Reference (Cold-path) Data
#### Fetch Reference Data From an Azure MySQL Database
##### Create a New Databricks Metadata Database.

In [ ]:
%sql
DROP DATABASE IF EXISTS sakila_dlh CASCADE;

In [ ]:
%sql
CREATE DATABASE IF NOT EXISTS sakila_dlh
COMMENT "DS-2002 Final Project Database"
LOCATION "dbfs:/FileStore/lab_data/sakila_dlh"
WITH DBPROPERTIES (contains_pii = true, purpose = "DS-2002 Final Project");

### Create a New Table that Sources Date Dimension Data from a Table in an Azure MySQL database.

In [ ]:
%sql
CREATE OR REPLACE TEMPORARY VIEW view_date
USING org.apache.spark.sql.jdbc
OPTIONS (
  url "jdbc:mysql://bat3pf.mysql.database.azure.com:3306/sakila",
  dbtable "dim_date",
  user "bat3pf",
  password "Okmijn1u!321"
)

In [ ]:
%sql
USE DATABASE sakila_dlh;

CREATE OR REPLACE TABLE sakila_dlh.dim_date
COMMENT "Date Dimension Table"
LOCATION "dbfs:/FileStore/lab_data/sakila_dlh/dim_date"
AS SELECT * FROM view_date

In [ ]:
%sql
SELECT * FROM sakila_dlh.dim_date LIMIT 5

In [ ]:
%sql
CREATE OR REPLACE TEMPORARY VIEW view_inventory
USING org.apache.spark.sql.jdbc
OPTIONS (
  url "jdbc:mysql://bat3pf.mysql.database.azure.com:3306/sakila",
  dbtable "inventory",
  user "bat3pf",
  password "Okmijn1u!321"
)

In [ ]:
%sql
USE DATABASE sakila_dlh;

CREATE OR REPLACE TABLE sakila_dlh.inventory
COMMENT "Payment Table"
COMMENT "Inventory Dimension Table"
LOCATION "dbfs:/FileStore/lab_data/sakila_dlh/inventory"
AS SELECT * FROM view_inventory

In [ ]:
%sql
SELECT * FROM sakila_dlh.inventory LIMIT 5

inventory_id,film_id,store_id
1,1,1
2,1,1
3,1,1
4,1,1
5,1,2

In [ ]:
%sql
CREATE OR REPLACE TEMPORARY VIEW view_customer
USING org.apache.spark.sql.jdbc
OPTIONS (
  url "jdbc:mysql://bat3pf.mysql.database.azure.com:3306/sakila",
  dbtable "customer",
  user "bat3pf",
  password "Okmijn1u!321"
)

In [ ]:
%sql
USE DATABASE sakila_dlh;

CREATE OR REPLACE TABLE sakila_dlh.customer
COMMENT "Customers Table"
COMMENT "Inventory Dimension Table"
LOCATION "dbfs:/FileStore/lab_data/sakila_dlh/inventory"
AS SELECT * FROM view_customer

In [ ]:
%sql
DESCRIBE EXTENDED sakila_dlh.dim_customer;

col_name,data_type,comment
date_key,int,null
full_date,date,null
date_name,string,null
date_name_us,string,null
date_name_eu,string,null
day_of_week,int,null
day_name_of_week,string,null
day_of_month,int,null
day_of_year,int,null
weekday_weekend,string,null
week_of_year,int,null
month_name,string,null
month_of_year,int,null
is_last_day_of_month,string,null
calendar_quarter,int,null
calendar_year,int,null
calendar_year_month,string,null
calendar_year_qtr,string,null
fiscal_month_of_year,int,null
fiscal_quarter,int,null
fiscal_year,int,null
fiscal_year_month,string,null
fiscal_year_qtr,string,null
,,
# Detailed Table Information,,
Catalog,spark_catalog,
Database,sakila_dlh,
Table,dim_date,
Type,EXTERNAL,
Comment,Date Dimension Table,
Location,dbfs:/FileStore/ds2002-lab06/sakila_dlh/dim_date,
Provider,delta,
Owner,root,
Table Properties,"[delta.minReaderVersion=1,delta.minWriterVersion=2]",

In [ ]:
%sql
SELECT * FROM sakila_dlh.customer LIMIT 5

#### Create a New Table that Fetches Data from MongoDB Atlas Database

In [ ]:
display(dbutils.fs.ls(batch_dir))

In [ ]:
source_dir = '/dbfs/FileStore/lab_data/final_data/batch'
json_files = {"film" : 'sakila_film.json'}

set_mongo_collection(atlas_user_name, atlas_password, atlas_cluster_name,
                     atlas_database_name, source_dir, json_files)

Out[16]: <pymongo.results.InsertManyResult at 0x7fbeb073b980>

In [ ]:
%scala
import com.mongodb.spark._

val userName = "bat3pf"
val pwd = "Okmijn1u!321"
val clusterName = "cluster0.qazws"
val atlas_uri = "mongodb+srv://$userName:$pwd@$clusterName.mongodb.net/?retryWrites=true&w=majority"

In [ ]:
%scala
import com.mongodb.spark._

val df_film= spark.read.format("com.mongodb.spark.sql.DefaultSource")
.option("database", "sakila").option("collection", "film").option("uri", atlas_uri).load()

#display(df_film)

customer_id,store_id,last_name,first_name,active
1,1,SMITH,MARY,1
2,1,JOHNSON,PATRICIA,1
3,1,WILLIAMS,LINDA,1
4,2,JONES,BARBARA,1
5,1,BROWN,ELIZABETH,1
6,2,DAVIS,JENNIFER,1
7,1,MILLER,MARIA,1
8,2,WILSON,SUSAN,1
9,2,MOORE,MARGARET,1
10,1,TAYLOR,DOROTHY,1
11,2,ANDERSON,LISA,1
12,1,THOMAS,NANCY,1
13,2,JACKSON,KAREN,1
14,2,WHITE,BETTY,1
15,1,HARRIS,HELEN,1
16,2,MARTIN,SANDRA,0
17,1,THOMPSON,DONNA,1
18,2,GARCIA,CAROL,1
19,1,MARTINEZ,RUTH,1
20,2,ROBINSON,SHARON,1
21,1,CLARK,MICHELLE,1
22,1,RODRIGUEZ,LAURA,1
23,2,LEWIS,SARAH,1
24,2,LEE,KIMBERLY,1
25,1,WALKER,DEBORAH,1
26,2,HALL,JESSICA,1
27,2,ALLEN,SHIRLEY,1
28,1,YOUNG,CYNTHIA,1
29,2,HERNANDEZ,ANGELA,1
30,1,KING,MELISSA,1
31,2,WRIGHT,BRENDA,1
32,1,LOPEZ,AMY,1
33,2,HILL,ANNA,1
34,2,SCOTT,REBECCA,1
35,2,GREEN,VIRGINIA,1
36,2,ADAMS,KATHLEEN,1
37,1,BAKER,PAMELA,1
38,1,GONZALEZ,MARTHA,1
39,1,NELSON,DEBRA,1
40,2,CARTER,AMANDA,1
41,1,MITCHELL,STEPHANIE,1
42,2,PEREZ,CAROLYN,1
43,2,ROBERTS,CHRISTINE,1
44,1,TURNER,MARIE,1
45,1,PHILLIPS,JANET,1
46,2,CAMPBELL,CATHERINE,1
47,1,PARKER,FRANCES,1
48,1,EVANS,ANN,1
49,2,EDWARDS,JOYCE,1
50,1,COLLINS,DIANE,1
51,1,STEWART,ALICE,1
52,1,SANCHEZ,JULIE,1
53,1,MORRIS,HEATHER,1
54,1,ROGERS,TERESA,1
55,2,REED,DORIS,1
56,1,COOK,GLORIA,1
57,2,MORGAN,EVELYN,1
58,1,BELL,JEAN,1
59,1,MURPHY,CHERYL,1
60,1,BAILEY,MILDRED,1
61,2,RIVERA,KATHERINE,1
62,1,COOPER,JOAN,1
63,1,RICHARDSON,ASHLEY,1
64,2,COX,JUDITH,0
65,2,HOWARD,ROSE,1
66,2,WARD,JANICE,1
67,1,TORRES,KELLY,1
68,1,PETERSON,NICOLE,1
69,2,GRAY,JUDY,1
70,2,RAMIREZ,CHRISTINA,1
71,1,JAMES,KATHY,1
72,2,WATSON,THERESA,1
73,2,BROOKS,BEVERLY,1
74,1,KELLY,DENISE,1
75,2,SANDERS,TAMMY,1
76,2,PRICE,IRENE,1
77,2,BENNETT,JANE,1
78,1,WOOD,LORI,1
79,1,BARNES,RACHEL,1
80,1,ROSS,MARILYN,1
81,1,HENDERSON,ANDREA,1
82,1,COLEMAN,KATHRYN,1
83,1,JENKINS,LOUISE,1
84,2,PERRY,SARA,1
85,2,POWELL,ANNE,1
86,2,LONG,JACQUELINE,1
87,1,PATTERSON,WANDA,1
88,2,HUGHES,BONNIE,1
89,1,FLORES,JULIA,1
90,2,WASHINGTON,RUBY,1
91,2,BUTLER,LOIS,1
92,2,SIMMONS,TINA,1
93,1,FOSTER,PHYLLIS,1
94,1,GONZALES,NORMA,1
95,2,BRYANT,PAULA,1
96,1,ALEXANDER,DIANA,1
97,2,RUSSELL,ANNIE,1
98,1,GRIFFIN,LILLIAN,1
99,2,DIAZ,EMILY,1
100,1,HAYES,ROBIN,1
101,1,MYERS,PEGGY,1
102,1,FORD,CRYSTAL,1
103,1,HAMILTON,GLADYS,1
104,1,GRAHAM,RITA,1
105,1,SULLIVAN,DAWN,1
106,1,WALLACE,CONNIE,1
107,1,WOODS,FLORENCE,1
108,1,COLE,TRACY,1
109,2,WEST,EDNA,1
110,2,JORDAN,TIFFANY,1
111,1,OWENS,CARMEN,1
112,2,REYNOLDS,ROSA,1
113,2,FISHER,CINDY,1
114,2,ELLIS,GRACE,1
115,1,HARRISON,WENDY,1
116,1,GIBSON,VICTORIA,1
117,1,MCDONALD,EDITH,1
118,1,CRUZ,KIM,1
119,1,MARSHALL,SHERRY,1
120,2,ORTIZ,SYLVIA,1
121,1,GOMEZ,JOSEPHINE,1
122,1,MURRAY,THELMA,1
123,2,FREEMAN,SHANNON,1
124,1,WELLS,SHEILA,0
125,1,WEBB,ETHEL,1
126,1,SIMPSON,ELLEN,1
127,2,STEVENS,ELAINE,1
128,1,TUCKER,MARJORIE,1
129,1,PORTER,CARRIE,1
130,1,HUNTER,CHARLOTTE,1
131,2,HICKS,MONICA,1
132,2,CRAWFORD,ESTHER,1
133,1,HENRY,PAULINE,1
134,1,BOYD,EMMA,1
135,2,MASON,JUANITA,1
136,2,MORALES,ANITA,1
137,2,KENNEDY,RHONDA,1
138,1,WARREN,HAZEL,1
139,1,DIXON,AMBER,1
140,1,RAMOS,EVA,1
141,1,REYES,DEBBIE,1
142,1,BURNS,APRIL,1
143,1,GORDON,LESLIE,1
144,1,SHAW,CLARA,1
145,1,HOLMES,LUCILLE,1
146,1,RICE,JAMIE,1
147,2,ROBERTSON,JOANNE,1
148,1,HUNT,ELEANOR,1
149,1,BLACK,VALERIE,1
150,2,DANIELS,DANIELLE,1
151,2,PALMER,MEGAN,1
152,1,MILLS,ALICIA,1
153,2,NICHOLS,SUZANNE,1
154,2,GRANT,MICHELE,1
155,1,KNIGHT,GAIL,1
156,1,FERGUSON,BERTHA,1
157,2,ROSE,DARLENE,1
158,1,STONE,VERONICA,1
159,1,HAWKINS,JILL,1
160,2,DUNN,ERIN,1
161,1,PERKINS,GERALDINE,1
162,2,HUDSON,LAUREN,1
163,1,SPENCER,CATHY,1
164,2,GARDNER,JOANN,1
165,2,STEPHENS,LORRAINE,1
166,1,PAYNE,LYNN,1
167,2,PIERCE,SALLY,1
168,1,BERRY,REGINA,1
169,2,MATTHEWS,ERICA,0
170,1,ARNOLD,BEATRICE,1
171,2,WAGNER,DOLORES,1
172,1,WILLIS,BERNICE,1
173,1,RAY,AUDREY,1
174,2,WATKINS,YVONNE,1
175,1,OLSON,ANNETTE,1
176,1,CARROLL,JUNE,1
177,2,DUNCAN,SAMANTHA,1
178,2,SNYDER,MARION,1
179,1,HART,DANA,1
180,2,CUNNINGHAM,STACY,1
181,2,BRADLEY,ANA,1
182,1,LANE,RENEE,1
183,2,ANDREWS,IDA,1
184,1,RUIZ,VIVIAN,1
185,1,HARPER,ROBERTA,1
186,2,FOX,HOLLY,1
187,2,RILEY,BRITTANY,1
188,1,ARMSTRONG,MELANIE,1
189,1,CARPENTER,LORETTA,1
190,2,WEAVER,YOLANDA,1
191,1,GREENE,JEANETTE,1
192,1,LAWRENCE,LAURIE,1
193,2,ELLIOTT,KATIE,1
194,2,CHAVEZ,KRISTEN,1
195,1,SIMS,VANESSA,1
196,1,AUSTIN,ALMA,1
197,2,PETERS,SUE,1
198,2,KELLEY,ELSIE,1
199,2,FRANKLIN,BETH,1
200,2,LAWSON,JEANNE,1
201,1,FIELDS,VICKI,1
202,2,GUTIERREZ,CARLA,1
203,1,RYAN,TARA,1
204,1,SCHMIDT,ROSEMARY,1
205,2,CARR,EILEEN,1
206,1,VASQUEZ,TERRI,1
207,1,CASTILLO,GERTRUDE,1
208,1,WHEELER,LUCY,1
209,2,CHAPMAN,TONYA,1
210,2,OLIVER,ELLA,1
211,1,MONTGOMERY,STACEY,1
212,2,RICHARDS,WILMA,1
213,1,WILLIAMSON,GINA,1
214,1,JOHNSTON,KRISTIN,1
215,2,BANKS,JESSIE,1
216,1,MEYER,NATALIE,1
217,2,BISHOP,AGNES,1
218,1,MCCOY,VERA,1
219,2,HOWELL,WILLIE,1
220,2,ALVAREZ,CHARLENE,1
221,1,MORRISON,BESSIE,1
222,2,HANSEN,DELORES,1
223,1,FERNANDEZ,MELINDA,1
224,2,GARZA,PEARL,1
225,1,HARVEY,ARLENE,1
226,2,LITTLE,MAUREEN,1
227,1,BURTON,COLLEEN,1
228,2,STANLEY,ALLISON,1
229,1,NGUYEN,TAMARA,1
230,2,GEORGE,JOY,1
231,1,JACOBS,GEORGIA,1
232,2,REID,CONSTANCE,1
233,2,KIM,LILLIE,1
234,1,FULLER,CLAUDIA,1
235,1,LYNCH,JACKIE,1
236,1,DEAN,MARCIA,1
237,1,GILBERT,TANYA,1
238,1,GARRETT,NELLIE,1
239,2,ROMERO,MINNIE,1
240,1,WELCH,MARLENE,1
241,2,LARSON,HEIDI,0
242,1,FRAZIER,GLENDA,1
243,1,BURKE,LYDIA,1
244,2,HANSON,VIOLA,1
245,1,DAY,COURTNEY,1
246,1,MENDOZA,MARIAN,1
247,1,MORENO,STELLA,1
248,1,BOWMAN,CAROLINE,1
249,2,MEDINA,DORA,1
250,2,FOWLER,JO,1
251,2,BREWER,VICKIE,1
252,2,HOFFMAN,MATTIE,1
253,1,CARLSON,TERRY,1
254,2,SILVA,MAXINE,1
255,2,PEARSON,IRMA,1
256,2,HOLLAND,MABEL,1
257,2,DOUGLAS,MARSHA,1
258,1,FLEMING,MYRTLE,1
259,2,JENSEN,LENA,1
260,1,VARGAS,CHRISTY,1
261,1,BYRD,DEANNA,1
262,2,DAVIDSON,PATSY,1
263,1,HOPKINS,HILDA,1
264,1,MAY,GWENDOLYN,1
265,2,TERRY,JENNIE,1
266,2,HERRERA,NORA,1
267,1,WADE,MARGIE,1
268,1,SOTO,NINA,1
269,1,WALTERS,CASSANDRA,1
270,1,CURTIS,LEAH,1
271,1,NEAL,PENNY,0
272,1,CALDWELL,KAY,1
273,2,LOWE,PRISCILLA,1
274,1,JENNINGS,NAOMI,1
275,2,BARNETT,CAROLE,1
276,1,GRAVES,BRANDY,1
277,2,JIMENEZ,OLGA,1
278,2,HORTON,BILLIE,1
279,2,SHELTON,DIANNE,1
280,2,BARRETT,TRACEY,1
281,2,OBRIEN,LEONA,1
282,2,CASTRO,JENNY,1
283,1,SUTTON,FELICIA,1
284,1,GREGORY,SONIA,1
285,1,MCKINNEY,MIRIAM,1
286,1,LUCAS,VELMA,1
287,2,MILES,BECKY,1
288,1,CRAIG,BOBBIE,1
289,1,RODRIQUEZ,VIOLET,1
290,1,CHAMBERS,KRISTINA,1
291,1,HOLT,TONI,1
292,2,LAMBERT,MISTY,1
293,2,FLETCHER,MAE,1
294,2,WATTS,SHELLY,1
295,1,BATES,DAISY,1
296,2,HALE,RAMONA,1
297,1,RHODES,SHERRI,1
298,1,PENA,ERIKA,1
299,2,GANNON,JAMES,1
300,1,FARNSWORTH,JOHN,1
301,2,BAUGHMAN,ROBERT,1
302,1,SILVERMAN,MICHAEL,1
303,2,SATTERFIELD,WILLIAM,1
304,2,ROYAL,DAVID,1
305,1,MCCRARY,RICHARD,1
306,1,KOWALSKI,CHARLES,1
307,2,JOY,JOSEPH,1
308,1,GRIGSBY,THOMAS,1
309,1,GRECO,CHRISTOPHER,1
310,2,CABRAL,DANIEL,1
311,2,TROUT,PAUL,1
312,2,RINEHART,MARK,1
313,2,MAHON,DONALD,1
314,1,LINTON,GEORGE,1
315,2,GOODEN,KENNETH,0
316,1,CURLEY,STEVEN,1
317,2,BAUGH,EDWARD,1
318,1,WYMAN,BRIAN,1
319,2,WEINER,RONALD,1
320,2,SCHWAB,ANTHONY,1
321,1,SCHULER,KEVIN,1
322,1,MORRISSEY,JASON,1
323,2,MAHAN,MATTHEW,1
324,2,COY,GARY,1
325,1,BUNN,TIMOTHY,1
326,1,ANDREW,JOSE,1
327,2,THRASHER,LARRY,1
328,2,SPEAR,JEFFREY,1
329,2,WAGGONER,FRANK,1
330,1,SHELLEY,SCOTT,1
331,1,ROBERT,ERIC,1
332,1,QUALLS,STEPHEN,1
333,2,PURDY,ANDREW,1
334,2,MCWHORTER,RAYMOND,1
335,1,MAULDIN,GREGORY,1
336,1,MARK,JOSHUA,1
337,1,JORDON,JERRY,1
338,1,GILMAN,DENNIS,1
339,2,PERRYMAN,WALTER,1
340,1,NEWSOM,PATRICK,1
341,1,MENARD,PETER,1
342,1,MARTINO,HAROLD,1
343,1,GRAF,DOUGLAS,1
344,1,BILLINGSLEY,HENRY,1
345,1,ARTIS,CARL,1
346,1,SIMPKINS,ARTHUR,1
347,2,SALISBURY,RYAN,1
348,2,QUINTANILLA,ROGER,1
349,2,GILLILAND,JOE,1
350,1,FRALEY,JUAN,1
351,1,FOUST,JACK,1
352,1,CROUSE,ALBERT,1
353,1,SCARBOROUGH,JONATHAN,1
354,2,NGO,JUSTIN,1
355,2,GRISSOM,TERRY,1
356,2,FULTZ,GERALD,1
357,1,RICO,KEITH,1
358,2,MARLOW,SAMUEL,1
359,2,MARKHAM,WILLIE,1
360,2,MADRIGAL,RALPH,1
361,2,LAWTON,LAWRENCE,1
362,1,BARFIELD,NICHOLAS,1
363,2,WHITING,ROY,1
364,1,VARNEY,BENJAMIN,1
365,2,SCHWARZ,BRUCE,1
366,1,HUEY,BRANDON,1
367,1,GOOCH,ADAM,1
368,1,ARCE,HARRY,0
369,2,WHEAT,FRED,1
370,2,TRUONG,WAYNE,1
371,1,POULIN,BILLY,1
372,2,MACKENZIE,STEVE,1
373,1,LEONE,LOUIS,1
374,2,HURTADO,JEREMY,1
375,2,SELBY,AARON,1
376,1,GAITHER,RANDY,1
377,1,FORTNER,HOWARD,1
378,1,CULPEPPER,EUGENE,1
379,1,COUGHLIN,CARLOS,1
380,1,BRINSON,RUSSELL,1
381,2,BOUDREAU,BOBBY,1
382,2,BARKLEY,VICTOR,1
383,1,BALES,MARTIN,1
384,2,STEPP,ERNEST,1
385,1,HOLM,PHILLIP,1
386,1,TAN,TODD,1
387,2,SCHILLING,JESSE,1
388,2,MORRELL,CRAIG,1
389,1,KAHN,ALAN,1
390,1,HEATON,SHAWN,1
391,1,GAMEZ,CLARENCE,1
392,2,DOUGLASS,SEAN,1
393,1,CAUSEY,PHILIP,1
394,2,BROTHERS,CHRIS,1
395,2,TURPIN,JOHNNY,1
396,1,SHANKS,EARL,1
397,1,SCHRADER,JIMMY,1
398,1,MEEK,ANTONIO,1
399,1,ISOM,DANNY,1
400,2,HARDISON,BRYAN,1
401,2,CARRANZA,TONY,1
402,1,YANEZ,LUIS,1
403,1,WAY,MIKE,1
404,2,SCROGGINS,STANLEY,1
405,1,SCHOFIELD,LEONARD,1
406,1,RUNYON,NATHAN,0
407,1,RATCLIFF,DALE,1
408,1,MURRELL,MANUEL,1
409,2,MOELLER,RODNEY,1
410,2,IRBY,CURTIS,1
411,1,CURRIER,NORMAN,1
412,2,BUTTERFIELD,ALLEN,1
413,2,YEE,MARVIN,1
414,1,RALSTON,VINCENT,1
415,1,PULLEN,GLENN,1
416,2,PINSON,JEFFERY,1
417,1,ESTEP,TRAVIS,1
418,2,EAST,JEFF,1
419,1,CARBONE,CHAD,1
420,1,LANCE,JACOB,1
421,1,HAWKS,LEE,1
422,1,ELLINGTON,MELVIN,1
423,2,CASILLAS,ALFRED,1
424,2,SPURLOCK,KYLE,1
425,2,SIKES,FRANCIS,1
426,1,MOTLEY,BRADLEY,1
427,2,MCCARTNEY,JESUS,1
428,2,KRUGER,HERBERT,1
429,2,ISBELL,FREDERICK,1
430,1,HOULE,RAY,1
431,2,FRANCISCO,JOEL,1
432,1,BURK,EDWIN,1
433,1,BONE,DON,1
434,1,TOMLIN,EDDIE,1
435,2,SHELBY,RICKY,1
436,1,QUIGLEY,TROY,1
437,2,NEUMANN,RANDALL,1
438,1,LOVELACE,BARRY,1
439,2,FENNELL,ALEXANDER,1
440,1,COLBY,BERNARD,1
441,1,CHEATHAM,MARIO,1
442,1,BUSTAMANTE,LEROY,1
443,2,SKIDMORE,FRANCISCO,1
444,2,HIDALGO,MARCUS,1
445,1,FORMAN,MICHEAL,1
446,2,CULP,THEODORE,0
447,1,BOWENS,CLIFFORD,1
448,1,BETANCOURT,MIGUEL,1
449,2,AQUINO,OSCAR,1
450,1,ROBB,JAY,1
451,1,REA,JIM,1
452,1,MILNER,TOM,1
453,1,MARTEL,CALVIN,1
454,2,GRESHAM,ALEX,1
455,2,WILES,JON,1
456,2,RICKETTS,RONNIE,1
457,2,GAVIN,BILL,1
458,1,DOWD,LLOYD,1
459,1,COLLAZO,TOMMY,1
460,1,BOSTIC,LEON,1
461,1,BLAKELY,DEREK,1
462,2,SHERROD,WARREN,1
463,2,POWER,DARRELL,1
464,1,KENYON,JEROME,1
465,1,GANDY,FLOYD,1
466,1,EBERT,LEO,1
467,2,DELOACH,ALVIN,1
468,1,CARY,TIM,1
469,2,BULL,WESLEY,1
470,1,ALLARD,GORDON,1
471,1,SAUER,DEAN,1
472,1,ROBINS,GREG,1
473,2,OLIVARES,JORGE,1
474,2,GILLETTE,DUSTIN,1
475,2,CHESTNUT,PEDRO,1
476,1,BOURQUE,DERRICK,1
477,1,PAINE,DAN,1
478,1,LYMAN,LEWIS,1
479,1,HITE,ZACHARY,1
480,1,HAUSER,COREY,1
481,1,DEVORE,HERMAN,1
482,1,CRAWLEY,MAURICE,0
483,2,CHAPA,VERNON,1
484,1,VU,ROBERTO,1
485,1,TOBIAS,CLYDE,1
486,1,TALBERT,GLEN,1
487,2,POINDEXTER,HECTOR,1
488,2,MILLARD,SHANE,1
489,1,MEADOR,RICARDO,1
490,1,MCDUFFIE,SAM,1
491,2,MATTOX,RICK,1
492,2,KRAUS,LESTER,1
493,1,HARKINS,BRENT,1
494,2,CHOATE,RAMON,1
495,2,BESS,CHARLIE,1
496,2,WREN,TYLER,1
497,2,SLEDGE,GILBERT,1
498,1,SANBORN,GENE,1
499,2,OUTLAW,MARC,1
500,1,KINDER,REGINALD,1
501,1,GEARY,RUBEN,1
502,1,CORNWELL,BRETT,1
503,1,BARCLAY,ANGEL,1
504,1,ADAM,NATHANIEL,1
505,1,ABNEY,RAFAEL,1
506,2,SEWARD,LESLIE,1
507,2,RHOADS,EDGAR,1
508,2,HOWLAND,MILTON,1
509,1,FORTIER,RAUL,1
510,2,EASTER,BEN,0
511,1,BENNER,CHESTER,1
512,1,VINES,CECIL,1
513,2,TUBBS,DUANE,1
514,2,TROUTMAN,FRANKLIN,1
515,1,RAPP,ANDRE,1
516,2,NOE,ELMER,1
517,2,MCCURDY,BRAD,1
518,1,HARDER,GABRIEL,1
519,2,DELUCA,RON,1
520,2,WESTMORELAND,MITCHELL,1
521,2,SOUTH,ROLAND,1
522,2,HAVENS,ARNOLD,1
523,1,GUAJARDO,HARVEY,1
524,1,ELY,JARED,1
525,2,CLARY,ADRIAN,1
526,2,SEAL,KARL,1
527,1,MEEHAN,CORY,1
528,1,HERZOG,CLAUDE,1
529,2,GUILLEN,ERIK,1
530,2,ASHCRAFT,DARRYL,1
531,2,WAUGH,JAMIE,1
532,2,RENNER,NEIL,1
533,1,MILAM,JESSIE,1
534,1,JUNG,CHRISTIAN,0
535,1,ELROD,JAVIER,1
536,2,CHURCHILL,FERNANDO,1
537,2,BUFORD,CLINTON,1
538,2,BREAUX,TED,1
539,1,BOLIN,MATHEW,1
540,1,ASHER,TYRONE,1
541,2,WINDHAM,DARREN,1
542,2,TIRADO,LONNIE,1
543,1,PEMBERTON,LANCE,1
544,2,NOLEN,CODY,1
545,2,NOLAND,JULIO,1
546,1,KNOTT,KELLY,1
547,1,EMMONS,KURT,1
548,1,CORNISH,ALLAN,1
549,1,CHRISTENSON,NELSON,1
550,2,BROWNLEE,GUY,1
551,2,BARBEE,CLAYTON,1
552,2,WALDROP,HUGH,1
553,1,PITT,MAX,1
554,1,OLVERA,DWAYNE,1
555,1,LOMBARDI,DWIGHT,1
556,2,GRUBER,ARMANDO,1
557,1,GAFFNEY,FELIX,1
558,1,EGGLESTON,JIMMIE,0
559,2,BANDA,EVERETT,1
560,1,ARCHULETA,JORDAN,1
561,2,STILL,IAN,1
562,1,SLONE,WALLACE,1
563,2,PREWITT,KEN,1
564,2,PFEIFFER,BOB,1
565,2,NETTLES,JAIME,1
566,1,MENA,CASEY,1
567,2,MCADAMS,ALFREDO,1
568,2,HENNING,ALBERTO,1
569,2,GARDINER,DAVE,1
570,2,CROMWELL,IVAN,1
571,2,CHISHOLM,JOHNNIE,1
572,1,BURLESON,SIDNEY,1
573,1,BOX,BYRON,1
574,2,VEST,JULIAN,1
575,2,OGLESBY,ISAAC,1
576,2,MCCARTER,MORRIS,1
577,2,MALCOLM,CLIFTON,1
578,2,LUMPKIN,WILLARD,1
579,2,LARUE,DARYL,1
580,1,GREY,ROSS,1
581,1,WOFFORD,VIRGIL,1
582,2,VANHORN,ANDY,1
583,1,THORN,MARSHALL,1
584,2,TEEL,SALVADOR,1
585,1,SWAFFORD,PERRY,1
586,1,STCLAIR,KIRK,1
587,1,STANFIELD,SERGIO,1
588,1,OCAMPO,MARION,1
589,1,HERRMANN,TRACY,1
590,2,HANNON,SETH,1
591,1,ARSENAULT,KENT,1
592,1,ROUSH,TERRANCE,0
593,2,MCALISTER,RENE,1
594,1,HIATT,EDUARDO,1
595,1,GUNDERSON,TERRENCE,1
596,1,FORSYTHE,ENRIQUE,1
597,1,DUGGAN,FREDDIE,1
598,1,DELVALLE,WADE,1
599,2,CINTRON,AUSTIN,1

In [ ]:
%scala
df_customer.printSchema()

In [ ]:
%scala
df_film.write.format("delta").mode("overwrite").saveAsTable("sakila_dlh.film")

In [ ]:
%sql
SELECT * FROM sakila_dlh.film LIMIT 5

### Fetch Data from a File System - Using PySpark to read info from a CSV

In [ ]:
#fetch the rentals table

rental_csv = f"{batch_dir}/sakila_rental.csv"

df_rental = spark.read.format('csv').options(header = 'true', inferSchema = 'true').load(rental_csv)
display(df_rental)

In [ ]:
%scala
df_rental.printSchema()

In [ ]:
df_rental.write.format('delta').mode('overwrite').saveAsTable('sakila_dlh.rental')

In [ ]:
%sql
SELECT * FROM sakila_dlh.rental LIMIT 5;

In [ ]:
df_rental.write.format('delta').mode('overwrite').saveAsTable('sakila_dlh.rental')

In [ ]:
%sql
SELECT * FROM sakila_dlh.rental LIMIT 5;

In [ ]:
#fetch the fact orders table

fact_orders_csv = f"{batch_dir}/sakila_fact_table.csv"

df_fact_orders = spark.read.format('csv').options(header = 'true', inferSchema = 'true').load(fact_orders_csv)
display(df_fact_orders)

In [ ]:
df_fact_orders.write.format('delta').mode('overwrite').saveAsTable('sakila_dlh.fact_orders')

In [ ]:
%sql
SELECT * FROM sakila_dlh.rental LIMIT 5;

payment_id,customer_id,rental_id,amount,payment_date
1,1,76,2.99,2005-05-25 11:30:37
2,1,573,0.99,2005-05-28 10:35:23
3,1,1185,5.99,2005-06-15 00:54:12
4,1,1422,0.99,2005-06-15 18:02:53
5,1,1476,9.99,2005-06-15 21:08:46

Verify the tables exist:

In [ ]:
%sql
USE sakila_dlh;
SHOW TABLES

### Integrate Reference Data with Real-Time Data
using sakila.payment as the current streaming table

bronze table

In [ ]:
%scala
df_rental.printSchema()

In [ ]:
(spark.readStream
 .format("cloudFiles")
 .option("cloudFiles.format", "json")
 .option("cloudFiles.schemaHints", "payment_id ")
 .option("cloudFiles.schemaHints", "customer_id BIGINT")
 .option("cloudFiles.schemaHints", "staff_id BIGINT")
 .option("cloudFiles.schemaHints", "rental BIGINT")
 .option("cloudFiles.schemaHints", "amount DECIMAL")
 .option("cloudFiles.schemaLocation", payment_output_bronze)
 .option("cloudFiles.inferColumnTypes", "true")
 .option("multiLine", "true")
 .load(payment_stream_dir)
 .createOrReplaceTempView("payment_raw_tempview"))

In [ ]:
%sql
/* Add Metadata for Traceability */
CREATE OR REPLACE TEMPORARY VIEW payment_output_bronze AS (
  SELECT *, current_timestamp() receipt_time, input_file_name() source_file
  FROM payment_raw_tempview
)

In [ ]:
%sql
SELECT * FROM payment_output_bronze LIMIT 2

In [ ]:
(spark.table("payment_output_bronze")
      .writeStream
      .format("delta")
      .option("checkpointLocation", f"{payment_output_bronze}/_checkpoint")
      .outputMode("append")
      .table("fact_orders_bronze"))

In [ ]:
%sql
SELECT * FROM fact_orders_bronze LIMIT 2

silver table

In [ ]:
(spark.readStream
  .table("fact_orders_bronze")
  .createOrReplaceTempView("fact_orders_silver_tempview"))

In [ ]:
%sql
SELECT * FROM fact_orders_silver_tempview LIMIT 2;

In [ ]:
%sql
-- joining together
CREATE OR REPLACE TEMPORARY VIEW cust_pay AS(
SELECT c.customer_id,
c.store_id,
c.first_name,
c.last_name,
c.email,
--payment
p.payment_id,
p.amount,
p.last_update,
p.rental_id,
p.staff_id,
p.source_file,
--rental
r.inventory_id,
-- inventory
i.film_id,
--film
f.description,
f.length,
f.rating,
f.release_year,
f.title,
f.rental_rate
FROM sakila_dlh.customer AS c
JOIN fact_orders_silver_tempview AS p
ON c.customer_id = p.customer_id
JOIN sakila_dlh.rental AS r
ON r.rental_id = p.rental_id
JOIN sakila_dlh.inventory AS i
ON r.inventory_id = i.inventory_id
JOIN sakila_dlh.film AS f
ON f.film_id = i.film_id
)

In [ ]:
%sql
SELECT * FROM cust_pay LIMIT 2

In [ ]:
(spark.table("cust_pay")
      .writeStream
      .format("delta")
      .option("checkpointLocation", f"{payment_output_silver}/_checkpoint")
      .outputMode("append")
      .table("fact_inventory_transactions_silver"))

In [ ]:
%sql
SELECT * FROM fact_inventory_transactions_silver LIMIT 2

gold table - data table aggregations

In [ ]:
%sql
SELECT release_year AS movie_release_year
    , rating AS movie_rating
    , AVG(rental_rate) AS average_rental_rate
FROM sakila_dlh.fact_inventory_transactions_silver
GROUP BY movie_release_year, movie_rating
ORDER BY movie_release_year DESC